.container-left {
    width: 100%;
    height: 460px;
    
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.level-wrraper {
    list-style: none;
    
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    transition: all .2s;
}

.level-item {
    display: flex;
    align-items: center;

    padding: 4px 8px;
}

.level-item .item {
    width: 12px;
    height: 12px;

    border-radius: 50%;
}

.level-item:nth-child(1) .item {
    background-color: var(--primary-gradient-color);
}

.level-item:nth-child(2) .item {
    background-color: var(--primary-gradient-color-ligth);
}

.level-item:nth-child(3) .item {
    background-color: var(--secondary-gradient-color);
}

.level-item p {
    font-size: 12px;
    text-align: left;
    font-weight: normal;
    color: var(--text-item-color);

    padding-left: 8px;
}

.level-wrraper.completed {
    display: none;
}
 
@media(min-width: 640px){
    .level-wrraper {
        height: 28px;
        width: 100%;

        position: absolute;
        top: 93.5%;
        right: 0;

        padding-right: 28px;

        flex-direction: row;
        align-items: center;
        justify-content: center;
    } 

    .level-item .item {
        width: 15px;
        height: 15px;
    }

    .level-item p {
        font-size: 14px;
    }
}

