.default-button {
    width: 160px;
    height: 60px;

    border: none;
    outline: none;

    padding: 17px;
    border-radius: 30px;
    cursor: pointer;

    font-size: 18px;
    font-weight: bold;
    line-height: 17px;
    text-align: center;
    color: var(--white-color);

    box-shadow: 0 8px 10px 0 var( --button-shadow-color);
    background: linear-gradient(24deg, var(--primary-gradient-color) -44%, var(--secondary-gradient-color) 79%);
}

.default-button:hover {
    background: var(--secondary-gradient-color);
}