.container-rigth {
    width: 100%;

    padding: 18px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.container-rigth h2 {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 1.19;
    color: var(--text-color-subtitle);
}

.container-rigth .subtitle {
    font-size: 11px;
    line-height: 1.1;
    text-align: left;
    font-weight: normal;
    color: var(--text-color-subtitle);

    padding: 2px 0;
}

.container-rigth .subtitle span {
    font-weight: 500;
}

.list-item {
    width: 100%;
    padding: 12px 4px;
    list-style: none;

    gap: 6px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    transition: all .2s;
}

.container-rigth.completed {
    display: none;
}

@media(min-width: 640px){
    .container-rigth h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .container-rigth .subtitle {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }

    .container-rigth .subtitle span {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
    }

    
}

@media(min-width: 700px) {
    .container-rigth {
        padding: 0 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
}

@media(min-width:  750px){
    .list-item {
        max-width: 350px;
        gap: 4px;
    }
}

