.wrraper-left {
    width: 400px;
    height: 400px;

    padding: 12px;
    position: absolute;
    top: 0;

    border-radius: 50%;
    border: 2px dotted var(--secondary-gradient-color);
    
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item-left {
    width: 300px;
    height: 300px;

    position: absolute;
    top: 50px;

    border-radius: 50%;
    border: 2px dotted var(--border-item-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.center-item {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 2px dotted var(--primary-gradient-color);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.center-icon {
    width: 160px;
    height: 160px;

}

.wrraper-left.finish {
    border: none;
    background: var(--finish-gradient-first);
}


.wrraper-left.finish .item-left {
    border: none;
    background: var(--finish-gradient-center);
}

.wrraper-left.finish .center-item {
    border: none;
    background: var(--finish-gradient-last);
}