.item-box {
    width: 55px;
    height: 55px;

    padding: 8px;
    position: relative;

    opacity: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.item-box .item-close {
    width: 12px;
    height: 12px;

    position: absolute;
    top: 0;
    right: 0;
}

.item-box .item-icon {
    width: 48px;
    height: 48px;

    margin-top: 8px;
}

.item-box .item-icon path {
    fill: var(--primary-gradient-color);
}



.item-box.one {
    position: absolute;
    left: -52px;
    
}

.item-box.one .item-close {
    left: -4px;
}


.item-box.two {
    position: absolute;
    top: 238px;
    
}

.item-box.two .item-close {
    left: 4px;
}

.item-box.three {
    position: absolute;
    top: -6px;
    
}

.item-box.three .item-close {
    left: 4px;
}

.item-box.four {
    position: absolute;
    right: -4px;
    
}

.item-box.five {
    position: absolute;
    left: 0;
    
}

.item-box.six {
    position: absolute;
    left: 0;
    bottom: -4px;

    transform: rotate(2deg);
}

.item-box.six .item-close {
    top: -4px;
    right: 12px;
}

.item-box.seven {
    position: absolute;
    top: -16px;
    right: 16px;
}

.item-box.eight {
    position: absolute;
    top: 8px;
    left: -16px;
}

.item-box.eight .item-close {
    left: 8px;
}

.item-box.none {

    right: -80px;
    bottom: -94px;
}

.item-box.none .item-close {
    left: 8px;
}

.item-box.one.selected, .item-box.two.selected , 
.item-box.three.selected, .item-box.four.selected,
.item-box.five.selected, .item-box.six.selected,
.item-box.seven.selected, .item-box.eight.selected,
.item-box.none.selected {
    opacity: 1;
    border-radius: 50%;
    z-index: 99999;
}


/* Itesm completed */
.item-box.completed .item-close {
    opacity: 0;
}

.item-box.completed .item-icon path {
    fill: white;
}


.item-box.completed .item-icon {
    width: 34px;
    height: 34px;

    margin: 0;
    position: absolute;
    top: 8px;
}


.item-box.one.completed {
    left: -68px;
    background-color: var(--completed-first-color);
}

.item-box.two.completed {
    width: 48px;
    height: 48px;
    top: 218px;
    background-color: var(--completed-last-color);
}

.item-box.two.completed .item-icon {
    margin-bottom: 8px;
}
 
.item-box.three.completed {
    top: -20px;
    background-color: var(--completed-center-color);
}

.item-box.four.completed {
    right: -18px;
    background-color: var(--completed-center-color);
}

.item-box.five.completed {
    left: -16px;
    background-color: var(--completed-center-color);
}

.item-box.six.completed {
    left: -20px;
    background-color: var(--completed-first-color);
}

.item-box.seven.completed {
    right:  -20px;
    background-color: var(--completed-first-color);
}

.item-box.eight.completed {
    left: -32px;
    background-color: var(--completed-first-color);
}

.item-box.eight.completed {
    left: -32px;
    background-color: var(--completed-first-color);
}

.item-box.none.completed {
    width: 46px;
    height: 46px;

    top: 48px;
    right: -78px;

    background-color: var(--completed-last-color);
}

.item-box.none.completed .item-icon {
    padding-bottom: 8px;
}